:root {
    --header-color: hsl(240, 100%, 58%);
    --sidebar-color: hsl(240, 50%, 80%);
    --main-color: hsl(240, 43%, 99%);
    --footer-color: hsl(240, 74%, 62%);
    --artificial-height: 75vh;
}


.container {
    font-family: 'Tapestry', cursive;
}

.container-row {
    display: flex;
}


.header {
    width: 100%;
    height: 50px;
    background-color: var(--header-color);
    display: flex;
    column-gap: 20px;
    padding-left: 16px;

}
.header .logo {
    width: 32px;
    height: 32px;
    background-image: url("../img/Earth-icon.png");
    background-size:contain;

    align-self:center;
}

.header ul.desktopmenu {
    display: flex;
    column-gap: 20px;

    color: hsl(240, 43%, 99%);
    font-weight: 400;
    font-size: 32px;
    align-self:center;

}
.header ul li a,
.header ul li a:visited
{
    color:hsl(240, 43%, 99%);
    text-decoration: none;
}



.sidebar {
    height: var(--artificial-height);
    width: 20%;
    background-color: var(--sidebar-color);
}

.maincontent {
    height: var(--artificial-height);
    width: 60%;
    background-color: var(--main-color); 
}

.footer {
    height: 200px;
    width: 100%;
    background-color: var(--footer-color);
}